html, body {
    padding: 0;
    margin: 0;
    touch-action: none;
}

.slide {
    touch-action: none;
    height: 100%;
    width: 100%;
    transition: height 0.3s;
    position: relative;
    overflow: hidden;
}

.slide-list {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}