<header>
    <div class="header-ctn">
        <div class="blog">
            <span class="name">TTentau</span>
            <div class="signature">
                <span class=" animated">我</span>
                <span class=" animated">爱</span>
                <span class=" animated">前</span>
                <span class=" animated">端</span>
                <span>，</span>
                <span class=" animated">我</span>
                <span class=" animated">怕</span>
                <span class=" animated">他</span>
                <span class=" animated">完</span>
                <span class=" animated">了</span>
                <span>，</span>
                <span class=" animated">可</span>
                <span class=" animated">谁</span>
                <span class=" animated">爱</span>
                <span class=" animated">我</span>
                <span class=" animated">呀</span>
                <span>？</span>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/" data-hover="主页">主页</a>
                </li>
                <li>
                    <a href="/front-end" data-hover="前端">前端</a>
                </li>
                <li>
                    <a href="/project.html" data-hover="项目">项目</a>
                </li>
                <li>
                    <a href="/photos" data-hover="相册">相册</a>
                </li>
            </ul>

        </nav>
    </div>
</header>
